<div class="banner" style="background-image">
  <h1>Choose your cocktail</h1>
</div>
<div class="container mt-4">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo.attached? ? cl_image_path(cocktail.photo.key) : image_url('lemon_drip.jpg') %>)">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
    <% end %>
  </div>
</div>
