.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url(cocktail_banner.jpg);
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.banner-button{
  width: 260px;
  height: 60px;
  background-color: rgb(229, 159, 7);
  border-radius: 4px;
  text-align: center;
  padding: 10px 40px;
  &:hover {
    background-color: rgba(255, 132, 0, 0.892);
  }
}

a{
  font-size: 26px;
  color: black;
  text-decoration: auto;
  display: inline;
  text-align: center;
  &:hover {
    color: purple;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cocktails {
  font-size: 50px;
}

.cocktails-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}
